{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<div id=banner2>
<h1>{{ object.job_title }}</h1>
<hr>
</div>

<p>Date: {{ object.date }}</p>
<p>Time: {{ object.time }}</p>
<p>Job Title: {{ object.job_title }}</p>
<p>Job Location: {{ object.job_location }}</p>
<p>Job Description: {{ object.job_description }}</p>
<p>Wage: {{ object.wage }}</p>
<h4><font color="black">Thanks for applying to be a {{ object.job_title }}. You will hear back shortly.</font></h4>
<a href=http://127.0.0.1:8000/clockwork/alljobsview/>Back to all jobs</a>

